.bringing {
    color: #d80606;
    text-align: center;
    padding: 32px 0;
}

.bringing h1 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 16px;
}

.slogan {
    color: #5CB86A;
    font-size: 32px;
    margin-bottom: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.image {
    flex: 1;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.image .img {
    width: 100%;
    height: auto;
    display: block;
}

.text {
    flex: 1;
    max-width: 600px;
    text-align: end;
}

.content h2 {
    font-size: 40px;
    color: #000000;
    margin-bottom: 16px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin: 48px 0;
}

.outline {
    background-color: #fff;
    border: 1px solid #5CB86A;
    padding: 12px 32px;
    color: #5CB86A;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.outline:hover {
    background-color: #5CB86A;
    color: #fff;
}


@media (max-width: 1024px) {
    .bringing h1 {
        font-size: 32px;
    }

    .slogan {
        font-size: 24px;
    }

    .content h2 {
        font-size: 28px;
    }

    .image,
    .text {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .bringing h1 {
        font-size: 28px;
    }

    .slogan {
        font-size: 20px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 16px;
    }

    .image {
        margin-bottom: 24px;
    }

    .outline {
        width: 100%;
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .bringing h1 {
        font-size: 24px;
    }

    .slogan {
        font-size: 16px;
    }

    .content h2 {
        font-size: 20px;
    }

    .content p {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}