.platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px; 
  margin: 60px 0 20px 0;
}

.questions {
  text-align: start;
  max-width: 100%;
  flex: 1 1 400px;

  h2 {
    font-size: 40px; 
    margin-bottom: 16px; 
  }

  p {
    font-size: 20px;
    margin-bottom: 24px;
  }

  button {
    padding: 12px 24px;
    background-color: #fff;
    color: #5CB86A;
    border: solid #5CB86A 1px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.faq-section {
  flex: 1 1 300px;
  width: 100%;
}

.faq-item {
  margin-bottom: 50px;
  font-size: 20px;

  h4 {
    font-size: 22px; 
    margin: 0;
    cursor: pointer;

    span {
      float: right;
    }
  }
}

@media (max-width: 768px) {
  .questions,
  .faq-section {
    max-width: 100%;
  }

  .faq-item {
    margin-bottom: 20px;
  }
  
}
