.works {
    text-align: center;
    padding: 32px 0;
}

.works h2 {
    font-size: 40px;
    font-weight: 600;
    margin: 24px 0 8px 0;
    color: #000000;
}

.works p {
    font-size: 42px;
    font-weight: 400;
    color: #1C3436;
}

.works-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
    padding: 32px 0;
    position: relative;
}

.works-step {
    text-align: center;
    max-width: 250px;
    margin-top: 20px;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(to bottom, #1C3436, #51969C);
    border-radius: 10px;
    margin: 0 auto 16px auto;
}

.works-step h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.works-step p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}


.works-section::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 2px;
    background: #51969C;
    z-index: -1;
}


@media (max-width: 1024px) {
    .works-section {
        gap: 48px;
    }

    .works-step {
        max-width: 200px;
    }

    .works h2 {
        font-size: 32px;
    }

    .works p {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .works-section {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .works-section::before {
        display: none;
    }

    .works-step {
        max-width: 100%;
    }

    .works h2 {
        font-size: 28px;
    }

    .works p {
        font-size: 16px;
    }

    .works-step h3 {
        font-size: 17.6px;
    }

    .works-step p {
        font-size: 14.4px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }

    .works h2 {
        font-size: 24px;
    }

    .works p {
        font-size: 14.4px;
    }

    .icon {
        width: 50px;
        height: 50px;
        font-size: 19.2px;
    }
}